/* Font Family
======================================================*/
@mixin font-face($font-family, $url, $font-weight, $font-style) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('../fonts/#{$url}.eot');
		src: url('../fonts/#{$url}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$url}.woff') format('woff'),
		url('../fonts/#{$url}.ttf') format('truetype'),
		url('../fonts/#{$url}.svg') format('svg');
		font-weight: #{$font-weight};
		font-style: #{$font-style};
	}
}

/* Webkit
======================================================*/
@mixin prefix($property, $parameters) {
	@each $prefix in -webkit-, -moz-, "" {
		#{$prefix}#{$property}: $parameters;
	}
}

/* Media Query
======================================================*/
@mixin responsive($width, $type: max) {
	@if map_has_key($grid-breakpoints, $width) {
		$width: map_get($grid-breakpoints, $width);

		@if $type ==max {
			$width: $width - 1px;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}