.app-aside {
    a {
        padding-left: clamp(30px, 2.083333vw, 40px);
        font-weight: 500;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: clamp(20px, 1.25vw, 24px);
            height: clamp(20px, 1.25vw, 24px);
            background: transparent url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10" stroke="%2301AD54" stroke-width="1.5"/><path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="%2301AD54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat scroll center center / contain;
        }
    }
}