/* Item Blog
======================================================*/
.item-blog {
    @extend .h-100;

    figure {
        aspect-ratio: 553/350;

        @extend .rounded-xs, .mb-lg-6, .mb-4;

    }
}

/* Portfolio
======================================================*/
.item-portfolio {
    aspect-ratio: 553/350;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(31, 61, 131, 0) 0%, #2787AD 100%);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }

    span {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {

        &::before,
        span {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* Events
======================================================*/
.item-event {
    aspect-ratio: 553/350;
    position: relative;
    cursor: pointer;
}

/* Posts
======================================================*/
.item-post {
    @extend .d-flex, .flex-column;

    li {
        a {
            @extend .d-flex, .align-items-center, .justify-content-between, .gap-3, .fw-medium, .text-dark;

            &:hover {
                @extend .text-success;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--bs-border-color);
            @extend .mb-lg-6, .mb-5, .pb-lg-6, .pb-5;
        }
    }
}

/* Works
======================================================*/
.item-work {
    figure {
        aspect-ratio: 695/550;

        @extend .mb-lg-10, .mb-7;
    }

    &:hover {
        h2 {
            @extend .text-primary;
        }

        p {
            @extend .text-dark;
        }
    }
}

/* Technologies
======================================================*/
.item-tech {
    &:not(:last-child) {
        margin-bottom: clamp(20px, 1.5vw, 30px);
        border-bottom: 1px solid var(--bs-white);
        padding-bottom: clamp(20px, 1.5vw, 30px);
    }

    .btn {
        width: 24%;
        min-width: 250px;
        flex: 0 0 auto;
        pointer-events: none;

        &.btn-primary {
            --bs-btn-color: #fff;
            --bs-btn-bg: #1f3d83;
            --bs-btn-border-color: #1f3d83;
        }

        @include responsive(lg) {
            width: 100%;
            min-width: 100%;
        }
    }
}

/* Item About
======================================================*/
.item-about {
    figure {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(100deg, #fff 0%, #fff 35%, rgba(255, 255, 255, 0) 100%);
        }
    }

    ul {
        li {

            @extend .text-dark, .fw-medium, .h6, .ps-lg-8, .ps-6, .position-relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                width: 16px;
                height: 16px;
                background-color: var(--bs-primary);

                @include prefix(border-radius, 4px);
            }
        }
    }
}