/* Careers
======================================================*/
.list-career {
    a {
        @extend .d-flex, .flex-column, .flex-md-row, .align-items-md-center, .justify-content-start, .justify-content-md-between, .p-lg-6, .p-4, .fw-semibold, .border-bottom, .gap-3;

        span {
            @extend .w-100;
        }

        i {
            @extend .me-md-0, .me-auto;
        }

        &:hover {
            @extend .bg-primary-50;
        }
    }
}

.list-dashboard {
    @extend .d-flex, .flex-column, .gap-lg-10, .gap-5;

    li {
        @extend .d-flex, .gap-4, .align-items-center,
    }

    h2 {
        @extend .h6, .mb-2;
    }
}