.modal-backdrop {
    --bs-backdrop-opacity: .9;
}

.modal-lightbox {
    .modal-dialog {
        @extend .m-0, .w-100, .h-100, .mw-100, .p-4;

        .modal-content {
            @extend .bg-transparent, .border-0, .rounded-0, .w-100, .h-100;
        }

        .modal-header {
            @extend .border-0, .p-0;
        }

        .modal-body {
            @extend .p-0, .position-relative, .d-flex, .align-items-center, .justify-content-center;

            img {
                max-width: 90vw;
                max-height: 90vh;
            }
        }

        .icon-arrow {
            @extend .position-absolute, .d-flex, .align-items-center, .justify-content-center, .text-white, .bg-white, .bg-opacity-10, .rounded-circle, .text-center, .top-0, .bottom-0, .m-auto, .border-0;

            width: 40px;
            height: 40px;
            line-height: 1;

            &.icon-prev {
                @extend .start-0;
            }

            &.icon-next {
                @extend .end-0;
            }

            &:hover {
                @extend .bg-white, .text-dark;
            }
        }

        .icon-close {
            @extend .position-absolute, .d-flex, .align-items-center, .justify-content-center, .text-white, .bg-white, .bg-opacity-10, .rounded-circle, .text-center, .top-0, .end-0, .border-0, .h4, .fw-normal;

            opacity: 1;
            width: 40px;
            height: 40px;
            line-height: 1;
            background-image: none;

            &:hover {
                @extend .bg-white, .text-dark;
            }
        }
    }
}