.holder {
    position: absolute;
    width: clamp(60px, 4.375vw, 84px);
    height: clamp(60px, 4.375vw, 84px);
    background: var(--bs-white);
    border-top-left-radius: var(--bs-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;

    &:before,
    &:after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background: transparent;
    }

    svg {
        width: clamp(48px, 3.75vw, 72px);
        min-width: clamp(48px, 3.75vw, 72px);
        height: clamp(48px, 3.75vw, 72px);
        position: relative;
        z-index: 1;
    }

    &:before {
        bottom: 0px;
        right: 100%;
        ;
        border-bottom-right-radius: var(--bs-radius-md);
        box-shadow: 0.3em 0.3em 0 0.3em var(--bs-white);
    }

    &:after {
        right: 0px;
        bottom: 100%;
        border-bottom-right-radius: var(--bs-radius-md);
        box-shadow: 0.3em 0.3em 0 0.3em var(--bs-white);
    }
}

/* Shape Dashboard
======================================================*/
.shape-dashboard-3 {
    width: 41.927083vw;
    min-width: 41.927083vw;
    height: 41.5625vw;
    position: absolute;
    left: 0;
    bottom: 0;
}

.shape-dashboard-2 {
    width: 46.666666vw;
    min-width: 46.666666vw;
    height: 34.375vw;
    position: absolute;
    right: 8.697916vw;
    bottom: 0;
}

.shape-dashboard-1 {
    width: 40.9375vw;
    min-width: 40.9375vw;
    height: 36.770833vw;
    position: absolute;
    top: 0;
    left: 0;
}