@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

// Import FullCalendar CSS from CDN
@import url("https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.19/main.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.19/main.min.css");

@import "../../public/scss/_mixins";
@import "../../public/scss/_variables";

// Import Bootstrap
@import "../../public/scss/bootstrap";

// Import Swiper
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/thumbs";

@import "../../public/scss/component/_base";
@import "../../public/scss/component/_root";

@import "../../public/scss/component/_header";
@import "../../public/scss/component/_footer";
@import "../../public/scss/component/_form";

@import "../../public/scss/component/_section";
@import "../../public/scss/component/_utilities";

@import "../../public/scss/component/custom";

.galaxy-container {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    position: absolute;

}