.section-head {
    position: relative;
    margin-top: clamp(91px, 7.135416666vw, 137px);

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: var(--bs-primary);

        @include responsive(md) {
            height: 20%;
        }
    }

    @include responsive(lg) {
        margin-top: 96px;
    }

    .title {
        @extend .mb-0;
    }

    figure {
        aspect-ratio: 2280/1350;
    }
}