.section-hero {
    height: clamp(520px, 42.708333vw, 820px);

    @extend .position-relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 29.61%, #fff 100%), linear-gradient(270deg, rgba(0, 88, 230, 0.3) 0%, rgba(255, 255, 255, 0) 49.5%, rgba(0, 88, 230, 0.3) 100%);
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 1;
        opacity: 0.2;
    }

    h1 {
        font-size: clamp(36px, 5vw, 96px);
        line-height: 1.2;
        font-weight: 900;
        max-width: clamp(520px, 62.5vw, 1200px);

        @extend .text-primary, .mb-lg-10, .mb-5, .mx-auto;
    }

    p {
        max-width: clamp(600px, 41.66666666666667vw, 800px);
    }

    .swiper-wrapper {
        align-items: center;
        display: flex;
        transition-timing-function: linear !important;

        .swiper-slide {
            flex: 0 0 auto;
            width: auto;
            margin-right: 30px;

            img {
                width: auto;
                max-height: clamp(55px, 3.125vw, 60px);
                height: clamp(55px, 3.125vw, 60px);
                object-fit: contain;

                &:not(:hover) {
                    @include prefix(filter, grayscale(100%));
                }

            }
        }
    }

    .swiper {
        width: 100%;
        overflow: hidden;
        padding-top: clamp(80px, 6.25vw, 120px);
        padding-bottom: clamp(20px, 2.60417vw, 50px);

        &.marquee-swiper {
            .swiper-wrapper {
                transition-timing-function: linear !important;
                will-change: transform;

                img {
                    min-width: 300px;
                    height: auto;
                }
            }
        }
    }

    @include responsive(md) {
        h1 {
            max-width: 480px;
        }
    
        p {
            max-width: 470px;
        }
    }

}