.section-about {
    .about-content {
        p {
            @extend .fw-medium, .h6, .mb-lg-5, .mb-4, .text-body, .text-md-base;
        }
    }

    .shape {
        position: absolute;
        z-index: 1;
        opacity: 0.05;

        &.shape1 {
            height: 26.041666vw;
            width: 26.041666vw;
            right: 0;
            top: 0;
            background: var(--bs-primary);

            @include prefix(animation, shape1 10s ease 0s infinite alternate);
            @include prefix(transform, rotate(45deg));
            @include prefix(border-radius, 79% 21% 70% 30% / 30% 30% 70% 70%);
        }

        &.shape2 {
            height: 26.041666vw;
            width: 26.041666vw;
            background: var(--bs-primary);

            @include prefix(animation, shape2 10s ease 0s infinite alternate);
            @include prefix(transform, rotate(45deg));
            @include prefix(border-radius, 79% 21% 70% 30% / 30% 30% 70% 70%);
        }



        @-webkit-keyframes shape1 {
            0% {
                right: 20px;
                top: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }

            50% {
                right: 0;
                top: 0;
                border-radius: 21% 79% 18% 82% / 82% 30% 70% 18%;
                width: 31.25vw;
                height: 31.25vw;
            }

            100% {
                right: 20px;
                top: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }
        }

        @keyframes shape1 {
            0% {
                right: 20px;
                top: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }

            50% {
                right: 0;
                top: 0;
                border-radius: 21% 79% 18% 82% / 82% 30% 70% 18%;
                width: 31.25vw;
                height: 31.25vw;
            }

            100% {
                right: 20px;
                top: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }
        }

        @-webkit-keyframes shape2 {
            0% {
                left: 0;
                bottom: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }

            50% {
                left: 200px;
                bottom: 100px;
                border-radius: 21% 79% 18% 82% / 82% 30% 70% 18%;
                width: 31.25vw;
                height: 31.25vw;
            }

            100% {
                left: 0;
                bottom: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }
        }

        @keyframes shape2 {
            0% {
                left: 0;
                bottom: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }

            50% {
                left: 200px;
                bottom: 100px;
                border-radius: 21% 79% 18% 82% / 82% 30% 70% 18%;
                width: 31.25vw;
                height: 31.25vw;
            }

            100% {
                left: 0;
                bottom: -20%;
                width: 26.041666vw;
                height: 26.041666vw;
            }
        }
    }

}