.section-auth {
    height: 100vh;

    figure {
        height: 100%;
        position: relative;
        width: 58%;
        flex: 0 0 auto;
    }

    .auth-data {
        max-width: clamp(400px, 27.0833vw, 520px);
    }

    .brand-logo {
        svg {
            width: auto;
            height: 48px;
        }
    }

    @include responsive(lg) {
        height: auto;

        figure {
            width: 100%;
            aspect-ratio: 1920/1080;
            height: auto !important;
        }

        .brand-logo {
            svg {
                height: 40px;
            }
        }
    }
}