.section-product {
    margin-top: clamp(91px, 7.135416666vw, 137px);

    .shape-1 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 36.770833vw;
        height: 74.322916vw;
    }

    .shape-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 36.770833vw;
        height: 74.322916vw;
    }

    h2 {
        font-size: clamp(32px, 4.79167vw, 92px);
        line-height: 1.3;
    }

    @include responsive(lg) {
        margin-top: 96px;
    }
}