/* Fonts
======================================================*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Reset CSS
======================================================*/
*,
*:after,
*:before {
    vertical-align: top !important;
    @include prefix(box-sizing, border-box !important);
}

html {
    @include prefix(text-size-adjust, none);
}

body,
html {
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-font);
    font-size: var(--bs-body-fs);
    line-height: var(--bs-body-lh);
    font-weight: var(--bs-body-fw);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

figure,
.figure {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    outline: none;
    border: none;
    height: auto;
    width: auto;
    @extend .transition;
}

svg {
    max-width: 100%;
    height: auto;
    @extend .transition;
}

.absolute-div {
    position: absolute;
    inset: 0;
    margin: auto;
}

.picture {

    &>img,
    &>iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.picture-contain {

    &>img,
    &>iframe {
        object-fit: contain;
    }
}

strong,
b,
label {
    font-family: inherit;
    font-weight: var(--bs-font-bold);
    margin-bottom: 0px;
}

ul,
ul li,
ol,
ol li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--bs-font-heading);
    font-weight: var(--bs-font-bold);
    color: var(--bs-dark);
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1,
.h1 {
    font-size: var(--bs-font-size-h1);
    line-height: var(--bs-line-height-h1);
    font-weight: var(--bs-font-weight-h1);
}

h2,
.h2 {
    font-size: var(--bs-font-size-h2);
    line-height: var(--bs-line-height-h2);
    font-weight: var(--bs-font-weight-h2);
}

h3,
.h3 {
    font-size: var(--bs-font-size-h3);
    line-height: var(--bs-line-height-h3);
    font-weight: var(--bs-font-weight-h3);
}

h4,
.h4 {
    font-size: var(--bs-font-size-h4);
    line-height: var(--bs-line-height-h4);
    font-weight: var(--bs-font-weight-h4);
}

h5,
.h5 {
    font-size: var(--bs-font-size-h5);
    line-height: var(--bs-line-height-h5);
    font-weight: var(--bs-font-weight-h5);
}

h6,
.h6 {
    font-size: var(--bs-font-size-h6);
    line-height: var(--bs-line-height-h6);
    font-weight: var(--bs-font-weight-h6);
}

.text-sm {
    font-size: var(--bs-text-sm);
    line-height: var(--bs-text-sm-lh);
    font-weight: var(--bs-text-sm-fw);
}

.text-base {
    font-size: var(--bs-body-fs);
    line-height: var(--bs-body-lh);
    font-weight: var(--bs-body-fw);
}

a,
.a,
a:focus,
.a:focus,
a:hover,
.a:hover {
    text-decoration: none;
    outline: none;
}

a,
.a {
    @extend .transition;
    color: var(--bs-dark);
    display: inline-block;
    cursor: pointer;
}

a:hover,
.a:hover,
.active a:not(.btn),
.active .a:not(.btn) {
    color: var(--bs-primary);
}

p {
    font-size: var(--bs-body-fs);
    line-height: var(--bs-body-lh);
    margin: 0 0 var(--bs-body-lh);
}

p:empty {
    display: none;
}

label {
    margin-bottom: 0px;
}

small {
    display: inline-block;
    font-size: var(--bs-small-font-size);
    line-height: var(--bs-small-line-height);
}

main {
    display: inline-block;
    width: 100%;

    &[data-bs-aside="true"] {
        padding-top: var(--bs-header);
    }
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

::-moz-selection {
    color: var(--bs-white);
    background: var(--bs-primary);
}

::selection {
    color: var(--bs-white);
    background: var(--bs-primary);
}

:hover,
:visited,
:active,
:focus {
    outline: none !important;
}

:last-child:not(img):not(.icon):not(.margin-child),
:only-child:not(img):not(.icon):not(.margin-child) {
    margin-bottom: 0px !important;
}

.font-size-0 {
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

@include responsive(md) {
    h1-md,
    .h1-md {
        font-size: var(--bs-font-size-h1);
        line-height: var(--bs-line-height-h1);
    }

    h2-md,
    .h2-md {
        font-size: var(--bs-font-size-h2);
        line-height: var(--bs-line-height-h2);
    }

    h3-md,
    .h3-md {
        font-size: var(--bs-font-size-h3);
        line-height: var(--bs-line-height-h3);
    }

    h4-md,
    .h4-md {
        font-size: var(--bs-font-size-h4);
        line-height: var(--bs-line-height-h4);
    }
    h5-md,
    .h5-md {
        font-size: var(--bs-font-size-h5);
        line-height: var(--bs-line-height-h5);
    }
    h6-md,
    .h6-md {
        font-size: var(--bs-font-size-h6);
        line-height: var(--bs-line-height-h6);
    }

    .text-md-base {
        font-size: var(--bs-body-fs) !important;
        line-height: var(--bs-body-lh) !important;
    }
}