/* Footer
======================================================*/
.app-footer {
    position: relative;

    a {
        font-weight: 500;
    }

    .link-social {
        a {
            &:hover {
                @include prefix(transform, scale(1.1));
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: clamp(62.5px, 13.02083333333333vw, 250px);
        height: clamp(31.5px, 6.5625vw, 126px);
        background: transparent url('data:image/svg+xml,<svg width="250" height="126" viewBox="0 0 250 126" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.10579e-05 -0.48812L250 -0.488098C216.549 -0.488109 184.466 12.8365 160.807 36.5558C137.147 60.2752 123.848 92.4477 123.832 126L123.832 123.641C123.812 90.713 110.756 59.1406 87.5356 35.864C64.3148 12.5874 32.8291 -0.488125 1.10579e-05 -0.48812Z" fill="white"/></svg>') no-repeat scroll center center;
        z-index: 1;
        background-size: cover;

        @extend .me-4, .me-sm-6, .me-md-10, .me-lg-15, .me-xl-25;
    }
}