/* Common Css
======================================================*/
.transition,
::before,
::after,
header,
main,
aside,
footer {
    @include prefix(transition, all 0.4s ease-in-out 0s);
}

.rounded-xl {
    @include prefix(border-radius, var(--bs-radius-xl));
}

.rounded-lg {
    @include prefix(border-radius, var(--bs-radius-lg));
}

.rounded-md {
    @include prefix(border-radius, var(--bs-radius-md));
}

.rounded-sm {
    @include prefix(border-radius, var(--bs-radius-sm));
}

.rounded-xs {
    @include prefix(border-radius, var(--bs-radius-xs));
}

.rounded {
    @include prefix(border-radius, var(--bs-radius));
}

.cursor-pointer {
    cursor: pointer;
}

.bg-primary-50 {
    background-color: var(--bs-primary-50);
}

.bg-primary-100 {
    background-color: var(--bs-primary-100);
}

.text-dark-500 {
    color: var(--bs-dark-500);
}

.image-vertical {
    aspect-ratio: 835/600;
}

.image-figure {
    aspect-ratio: 412/730;
}

.image-full {
    aspect-ratio: 1720/800;
}

.image-half {
    aspect-ratio: 835/800;
}

.image-section {
    aspect-ratio: 1920/900;
}

.image-desktop {
    aspect-ratio: 1920/1080;
}

.image-service {
    width: clamp(60px, 5.20833vw, 100px);
}


/* container
======================================================*/
.container-fluid {
    @extend .px-4, .px-sm-6, .px-md-10, .px-lg-15, .px-xl-25;
}

/* Icon
======================================================*/
.icon {
    display: inline-block;
    position: relative;

    svg,
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        width: 100%;
        height: fit-content;
        max-width: 100%;
        max-height: 100%;
    }
}

/* Link
======================================================*/
.link {
    position: relative;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    gap: 8px;

    &:hover {
        .icon {
            @include prefix(transform, rotate(-45deg));
        }
    }
}

.link-secondary {
    @extend .text-secondary;

    &:hover {
        @extend .text-primary;
    }
}

.link-white {
    color: var(--bs-white);

    &:hover {
        color: var(--bs-white);
    }
}

.link-underline {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        bottom: 2px;
        right: 0px;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        left: 0;
        -ms-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
        transition: transform 0.4s cubic-bezier(0.5, 0, 0.1, 1), left 0s linear;
    }

    &:hover {
        &::before {
            left: 100%;
            -ms-transform: scaleY(1) scaleX(0);
            transform: scaleY(1) scaleX(0);
            transition: left 0.4s cubic-bezier(0.5, 0, 0.1, 1),
                transform 0s linear 0.4s;
        }
    }
}

/* Swiper Slider
===============================================s=======*/
.swiper-button {
    @extend .position-static, .p-5, .p-lg-6, .rounded-circle, .bg-primary, .m-0, .transition;

    background-image: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 5L9.5 12L15.5 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-position: center;
    background-repeat: no-repeat;

    &.swiper-button-next {
        @include prefix(transform, rotate(180deg));
    }

    &:hover {
        @extend .bg-secondary;
    }
}

.swiper-pagination {
    @extend .position-static, .z-1, .text-start, .h4;

    .swiper-pagination-current {
        @extend .text-primary;
    }
}


/* Title
======================================================*/
.title-group {
    @extend .mb-lg-15, .mb-10;

    .title {
        @extend .mb-0;
    }
}

.title {
    @extend .mb-lg-10, .mb-6, .w-100, .mx-auto;

    &>span {
        @extend .mb-lg-6, .mb-5;
    }

    h2 {
        @extend .mb-lg-10, .mb-5, .text-primary, .h3-md;

        span {
            @extend .text-secondary;
        }

        &.text-white {
            @extend .text-white;
        }
    }

    p {
        @extend .fw-medium;
    }
}

/* Tag
======================================================*/
.tag {
    @extend .px-lg-6, .px-5, .py-lg-4, .py-3, .text-primary, .bg-primary-50, .d-inline-flex, .justify-content-center, .align-items-center, .rounded-pill, .small, .fw-medium;
    width: fit-content;

    &.tag-sm {
        @extend .px-lg-6, .px-4, .py-lg-3, .py-2;
    }

    &.tag-primary {
        @extend .text-primary, .bg-primary, .bg-opacity-10;
    }

    &.tag-success {
        @extend .text-success, .bg-success, .bg-opacity-10;
    }

    &.tag-danger {
        @extend .text-danger, .bg-danger, .bg-opacity-10;
    }

    &.tag-warning {
        @extend .text-warning, .bg-warning, .bg-opacity-10;
    }

}

/* Tabs
======================================================*/
.nav.nav-tabs {
    --bs-nav-link-padding-x: clamp(16px, 1.25vw, 24px);
    --bs-nav-link-padding-y: 12px;
    --bs-nav-link-font-weight: 500;
    --bs-nav-link-color: var(--bs-dark);
    --bs-nav-link-hover-color: var(--bs-white);
    --bs-nav-link-disabled-color: var(--bs-dark);

    width: fit-content;

    @extend .mx-auto, .bg-primary-50, .rounded-pill, .p-lg-3, .p-2, .gap-2;

    &.tabs-event {
        @extend .mx-0, .p-1;
    }
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-border-radius: 50rem;
    --bs-nav-tabs-link-hover-border-color: transparent;
    --bs-nav-tabs-link-active-color: var(--bs-white);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: transparent;
    border-bottom: none;
    white-space: nowrap;
    overflow-x: auto;
    flex-wrap: nowrap;
    max-width: 100%;


    margin-bottom: clamp(30px, 3.64583vw, 70px);

    .nav-link {
        @extend .rounded-pill, .small;

        &:focus,
        &:hover,
        &.active {
            @extend .bg-primary;
        }
    }


}


/* Accordion
======================================================*/
.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: all 0.4s ease-in-out 0s;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: clamp(20px, 1.25vw, 24px);
    --bs-accordion-btn-color: var(--bs-dark);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url('data:image/svg+xml,<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="44" height="44" rx="22" fill="%23EFF4FB"/><path d="M22 14L22 30M22 30L28 24M22 30L16 24" stroke="%2301AD54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --bs-accordion-btn-icon-width: clamp(24px, 2.29167vw, 44px);
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform .2s ease-in-out;
    --bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="44" height="44" rx="22" fill="%23EFF4FB"/><path d="M22 14L22 30M22 30L28 24M22 30L16 24" stroke="%2301AD54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-active-color: var(--bs-dark);
    --bs-accordion-active-bg: transparent;

    .accordion-item {
        border-top: 1px solid var(--bs-border-color);

        .accordion-button {
            font-size: var(--bs-font-size-h6);
            line-height: var(--bs-line-height-h6);


            @extend .fw-semibold, .text-md-base, .gap-4;
        }

        .accordion-body {
            @extend .small, .pb-lg-6, .pb-5, .text-dark;

            p {
                @extend .small, .text-dark;
            }
        }
    }
}

/* Dropdown
======================================================*/
.dropdown-event {
    .dropdown-toggle {
        font-size: var(--bs-small-font-size);
    }

    .dropdown-menu {
        --bs-dropdown-min-width: 10rem;
        --bs-dropdown-padding-x: 0;
        --bs-dropdown-padding-y: 0;
        --bs-dropdown-spacer: 0;
        --bs-dropdown-font-size: var(--bs-small-font-size);
        --bs-dropdown-color: var(--bs-body-color);
        --bs-dropdown-bg: var(--bs-white);
        --bs-dropdown-border-color: transparent;
        --bs-dropdown-border-radius: clamp(12px, 1.25vw, 24px);
        --bs-dropdown-border-width: 0px;
        --bs-dropdown-inner-border-radius: clamp(12px, 1.25vw, 24px);
        --bs-dropdown-link-color: var(--bs-body-color);
        --bs-dropdown-link-hover-color: var(--bs-primary);
        --bs-dropdown-link-hover-bg: var(--bs-primary-50);
        --bs-dropdown-link-active-color: var(--bs-white);
        --bs-dropdown-link-active-bg: var(--bs-primary);
        --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);

        @extend .shadow-lg, .m-0, .overflow-hidden;

        .dropdown-item {
            @extend .px-6, .py-3, .fw-medium;
        }
    }
}


.box {
    background: rgba(var(--bs-white-rgb), 0.1);
    @include prefix(backdrop-filter, blur(10px));
    @extend .rounded-xs, .p-lg-10, .p-5, .h-100;
}